#content {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: #cccccc;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

p {
  color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
<<<<<<< HEAD
  font-family:Helvetica;
}

li a {
display: block;
color : purple ;
padding: 4px 16px;
text-decoration: none;
position: relative;
white-space:nowrap;
padding-left: 5px;
padding-right:5px;
}

li a:hover {
background-color: yellow;
color: purple;
}

ul {
padding: 0;
margin: 0;
width: 200px;
=======
  font-family: Helvetica;
}

li a {
  display: block;
  color: purple;
  padding: 4px 16px;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

li a:hover {
  background-color: yellow;
  color: purple;
}

ul {
  padding: 0;
  margin: 0;
  width: 200px;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

/* Layout for buttons */


.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.fa:hover {
<<<<<<< HEAD
    opacity: 0.7;
=======
  opacity: 0.7;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #c9510c;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}


<<<<<<< HEAD
body{
    position: relative;
=======
body {
  position: relative;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

/* parallax images (all below) */
.howard-image {
  /* The image used */
<<<<<<< HEAD
  background-image: url('Images/howard.png');

  /* Set a specific height */
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-color:black;
=======
  background-image: url('Images/Howard.png');

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-color: black;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.akatsuki-parallax {
  /* The image used */
  background-image: url('Images/akatsuki.png');

  /* Set a specific height */
<<<<<<< HEAD
  min-height: 300px; 
=======
  min-height: 300px;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
<<<<<<< HEAD
  background-color:white;
=======
  background-color: white;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

.kobe-parallax {
  /* The image used */
  background-image: url('Images/kobenfam.jpg');

  /* Set a specific height */
<<<<<<< HEAD
  min-height: 300px; 
=======
  min-height: 300px;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
<<<<<<< HEAD
  background-color:white;
=======
  background-color: white;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

/*styling for the top container*/
.container-pt-3 {
<<<<<<< HEAD
    padding-top:70px;
    padding-left:20px;
    padding-bottom:20px;
    background-color: white;
=======
  padding-top: 70px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: white;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

/*styling for all the containers except for the top one*/
.container-fluid {
<<<<<<< HEAD
    padding-bottom:70px;
    padding-top:20px;
    padding-left:20px;
=======
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 20px;
>>>>>>> e9655925b1c5f3ce6993495b8bbe7ab4c88e3930
}

/* Layout inspired from w3schools! */