#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: max-content;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: purple;
}

p {
  color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

li a {
display: block;
color: #343;
padding: 8px 16px;
text-decoration: none;
}

li a:hover {
background-color: yellow;
color: purple;
}

ul {
padding: 0;
margin: 0;
width: 200px;
background-color:grey;
}
